
body,html{
  margin: 0px;
}
.header{
  height: 20vh;
  background: linear-gradient(to bottom,rgb(255, 255, 255)80% , #F5E4E2 );
  display: flex;
  flex-direction: row;
  align-items: center;
}
h1{

  margin: 10px;
  font-size: 24pt;
  font-family: serif;
  font-size: 2rem;
}
span{
  text-shadow: 2px -2px grey ;
}
.main{
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  background-color: #F5E4E2;
}
.footer{
  height: 10vh;
  margin-top: 0px;
  background-color: rgb(160, 154, 154);
}
p{
  margin: 0px;
  text-align: center;
  color: whitesmoke;
  font-size: 1rem;
}
.dice{
    height: 200px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template: repeat(3, 1fr)/ repeat(3, 1fr);
    gap: 2px;
    border-radius: 10%;
    padding: 5px;
    box-shadow: 5px 2px 10px black,-10px -10px 10px grey;
}
.dotParent{
    width: 50px;
    height: 50px;
    background-color: rgb(160, 154, 154);
    border-radius: 10%;
    margin: auto;
    display: flex;       
}
.dot{
    height: 50%;
    width: 50%;
    border-radius: 50%;
    background-color: black;
    margin: auto;
    position: relative;
}

.hidden{
    visibility: hidden;
}
.firstTopLeft, .secondTopLeft{
  grid-area: 1/1/2/2;
}
.firstTopRight, .secondTopRight{
  grid-area: 1/3/2/4;
}
.firstMiddleLeft, .secondMiddleLeft{
  grid-area: 2/1/3/2;
}
.firstMiddle, .secondMiddle{
    grid-area: 1/2/4/3;
}
.firstMiddleRight, .secondMiddleRight{
  grid-area: 2/3/3/4;
}
.firstBottomLeft, .secondBottomLeft{
  grid-area: 3/1/4/2;
}
.firstBottomRight, .secondBottomRight{
  grid-area: 3/3/4/4;
}
@media (max-width:600px){
h1{
  font-size: 4rem;
}
p{
  font-size: 2rem;
}
